.body-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media(max-width: 992px) {
  .body-page{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .body-page{
    grid-template-columns: 1fr;
  }
}

.about-image {
  width: 100%;
  max-width: 900px;
  height: auto;
}
