/* :root{
  --base: #4070FF;
  --secondary: #ff7145;
  --spacing: 10px;
  --blur : 10px;
}*/

/*img{
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}*/

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Custom designs */
/*html{
  margin:0px;
  padding: 0px;
}*/

@import url(components/_navbar.css);
@import url(components/banner.css);
@import url(components/button.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);
@import url(components/page_title.css);
@import url(about_us.css);
@import url(components/contact_form.css);


.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media(min-width: 992px) {
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 720px) {
  .cards{
    grid-template-columns: 1fr;
  }
}
/* Utilities */
body {
  /* margin: 0; */
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
