.logo a{
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.logo a:hover {
  color: #810000;
}

.callToAction p{
  background-color: #810000;
  width: fit-content;
  color: white;
  font-weight: bolder;
  margin-left: auto;
  padding: 0.5rem;
  letter-spacing: 1px;
}

.menus a{
  color:black;
  font-weight: bolder;
  text-decoration: none;
}
#contact-us{
  color: #810000;
}

#contact-us:hover{
  color: black;
}

.menus a:hover{
  color:#810000;
}

