.logo-line{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media(min-width: 992px) {
  .logo-line {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .logo-line {
    grid-template-columns: 1fr;
  }
}

.logo{
  background-image: url(../../images/lgo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: auto;

}


.callToAction p{
  background-color: white;
  width: fit-content;
  color: #810000;
  font-weight: bolder;
  padding: 0.5rem;
  letter-spacing: 1px;
  border: #810000 solid 2px;
}

.menus{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  text-align: center;
  margin-bottom: 1rem;
}

@media(max-width: 992px) {
  .menus {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .menus {
    grid-template-columns: 1fr;
  }
}
.menus a{
  color:black;
  font-weight: bolder;
  text-decoration: none;
}
#contact-us{
  color: #810000;
}

#contact-us:hover{
  color: black;
}

.menus a:hover{
  color:#810000;
}

