.card img {
  width: 150px;
  background-size: cover;
}

.card-category p {
  opacity: .5;
}

.card-category {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-category a {
  color: white;
}

.card-category a:hover {
  color: black;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


.card-category-gallery {
  width: 400px;
  height: 500px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgb(230,230,230);
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 20px;
  transition: all 2s;
}

.card-category-gallery:hover {
  transform: scale(1.1);
}
