.page-title{
  /* width: 100vw; */
  background-image: url(../../images/wood_copy.jpg);
  color: white;
  background-position: center;
  background-size: cover;
}

.page-title h1{
  width: fit-content;
  /*height: fit-content; */
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.page-title-gallery {
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: lighter;
 }

.page-title-gallery h1{
  width: fit-content;
  font-size: 30px;
}

.page-title-services {
  background-image: url(../../images/biggreen.jpg);
  color: white;
  background-position: center;
  background-size: cover;
}

.page-title-services h1 {
  width: fit-content;
}

.page-title-contact {
  background-image: url(../../images/bigbrick.jpg);
  color: white;
  background-position: center;
  background-size: cover;
  linear-gradient: rgba(0,0,0,0.4),rgba(0,0,0,0.4);
}

.page-title-contact h1 {
  width: fit-content;
}
